* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 100%;
  width: 100%;
}

nav {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1%;
}

nav .blog-img {
  padding-top: 1%;
  height: 200px;
}

nav .nav-items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 3%;
}

.nav-items a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  position: relative;
}

.nav-items a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #dfb191;
  transition: width 0.3s linear;
}

.nav-items a:hover::before {
  width: 100%;
}

.nav-items select {
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 1.2rem;
}
.nav-items button {
  padding: 9px 25px;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 10%;
  font-size: 1.2rem;
  transition: background-color 0.3s linear, color 0.3s linear;
}
.nav-items button:hover {
  background-color: #48c89c;
  color: white;
  cursor: pointer;
}

.women-profile {
  height: 70px;
  width: 70px;
  border-radius: 25%;
  border: 2px solid transparent;
  border-color: pink;
  object-fit: cover;
  object-position: top;
}

/* hero-sec */

.hero-sec {
  height: 40%;
  width: 100%;
}

.head-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head h1 {
  font-size: 3rem;
}

.head p {
  margin: 2% 0;
  color: #1f1f1f;
  font-size: 1.3rem;
  font-weight: lighter;
}

.head input {
  height: 2rem;
  width: 60%;
  outline: none;
  padding: 25px 20px;
  border-radius: 10px;
  border: 2px solid #ccc;
  font-size: 1.5rem;
  background-color: #f0f0f0;
}

input:hover {
  border-color: #888;
}

input:focus {
  border-color: #007bff;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/* Blog-container */

.blog-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.blog-container h2{
  text-align: center;
}

.left-blog{
  margin-top: 2%;
  /* margin-left: 3%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 1%;
  width: 45%;
  height: 90%;
}
.left-blog img{
  height: 73%;
  width:90%;
}

.left-blog span{
  opacity: 0.7;
}

.left-blog h3{
  font-size: 1.4rem;
}

.left-btns{
  display: flex;
  gap: 2%;
  margin-top: 2%;
}

.left-btns button{
  padding: 7px 10px;
  border: 2px solid black;
  outline: none;
  color:#111;
  background-color: transparent;
  border-radius: 40px;
  transition: background-color 0.3s linear;
}

.left-btns button:hover{
  background-color: #34b387;
  cursor: pointer;
}

/*right-blogs  */

.right-blogs{
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  height: 100%;
}

.right-blogs .blog{
  height: 29%;
  width: 100%;
  display: flex;
  gap: 2%;
  margin-bottom: 2%;
}

.blog img {
  height: 100%;
  width: 90%;
}
.blog .blog-info{
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2%;
}


.blog-info h3{
  font-weight: 700;
}
.blog-info p{
  opacity: 0.8;
}

.right-btns{
  display: flex;
  gap: 2%;
  margin-top: 1%;
}

.right-btns button{
  padding: 7px 10px;
  border: 2px solid black;
  outline: none;
  color:#111;
  background-color: transparent;
  border-radius: 40px;
  transition: background-color 0.3s linear;
}

.right-btns button:hover{
  background-color: #34b387;
  cursor: pointer;
}